name: graphics_tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test_graphics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: pygraf
          environment-file: environment.yml
          condarc-file: .condarc
      - shell: bash -l {0}
        run: pylint *.py
      - shell: bash -l {0}
        run: pylint adb_graphics
      - shell: bash -l {0}
        run: pylint tests
      - shell: bash -l {0}
        run: python -m pytest --nat-file tests/data/wrfnat_hrconus_07.grib2 --prs-file tests/data/wrfprs_hrconus_07.grib2
